<div id="site-header">
  <div class="wrapper">
    <h1><a href="./">Charlotte Cheap Eats</a></h1>
  </div>
</div>
<div class="wrapper">
  <div id="main">
    <h1>Restaurant List</h1>
    <table>
      <tr>
        <th>Genre</th>
        <th>Name</th>
        <th>Rating</th>
      </tr>
      <% @restaurants.each do |restaurant| %>
        <tr>
          <td><%= restaurant.genre %></td>
          <td><%= restaurant.name %></td>
          <td><%= restaurant.rating %></td>
          <td><%= link_to 'Show', restaurant_path(restaurant) %></td>
          <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
          <td><%= link_to 'Destroy',
                                    restaurant_path(restaurant),
                                    method: :delete,
                                    data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </table>
    <br><%= link_to'Add a Restaurant', new_restaurant_path%>
  </div>
</div>