<h1>Add Restaurant</h1>

<%= form_for :restaurant, url: restaurants_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :genre %><br>
    <%= f.text_field :genre %>
  </p>
  
  <p>
      <%= f.label :rating %><br>
      <%= f.text_field :rating %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>