<div class="wrapper">
  <div id="main">
    <h1>Add a Restaurant</h1>
    <%= form_for :restaurant, url: restaurants_path do |f| %>
      <% if @restaurant.errors.any? %>
        <div id="error_explanation">
          <p class="error">
            <%= pluralize(@restaurant.errors.count, "error") %> prohibited
            this restaurant from being saved:
          </p>
          <ul>
            <% @restaurant.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <p>
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </p>
      <p>
        <%= f.label :genre %><br>
        <%= f.text_field :genre %>
      </p>
      <p>
          <%= f.label :rating %><br>
          <%= f.text_field :rating %>
      </p>
      <p>
        <%= f.submit %>
      </p>
    <% end %>
    <hr>
    <p class="text-center"><%= link_to'Back to Restaurants', restaurants_path%></p>
  </div>
</div>
