<div class="wrapper">
  <div id="main">
    <h1><%= @restaurant.name %></h1>
    <ul>
      <li><strong>Name: </strong><%= @restaurant.name %></li>
      <li><strong>Genre: </strong><%= @restaurant.genre %></li>
      <li><strong>Rating: </strong><%= @restaurant.rating %></li>
    </ul>
    <hr>
    <h2>Reviews</h2>
    <div id="comments"><%= render @restaurant.reviews %></div>
    <hr>
    <h3>Add a Review</h3>
    <%= render 'reviews/form' %>
    <hr>
    <p class="text-center"><%= link_to 'Restaurant List', restaurants_path %></p>
  </div>
</div>
