<div class="wrapper">
  <div id="main">
    <h1><%= @restaurant.name %></h1>
    <ul>
      <li><strong>Name: </strong><%= @restaurant.name %></li>
      <li><strong>Genre: </strong><%= @restaurant.genre %></li>
      <li><strong>Rating: </strong><%= @restaurant.rating %></li>
    </ul>
    <hr>
    <h2>Reviews</h2>
    <% @restaurant.reviews.each do |review| %>
      <div class="comment">
        <p><strong>Reviewer: </strong><%= review.reviewer %></p>
        <p><strong>Review: </strong><%= review.body %></p>
      </div>
    <% end %>
    <hr>
    <h3>Add a Review</h3>
    <%= form_for([@restaurant, @restaurant.reviews.build]) do |f| %>
      <p>
        <%= f.label :reviewer %><br>
        <%= f.text_field :reviewer %>
      </p>
      <p>
        <%= f.label :body %><br>
        <%= f.text_area :body %>
      </p>
      <p>
        <%= f.submit %>
      </p>
    <% end %>
  <hr>
  <p class="text-center"><%= link_to 'Restaurant List', restaurants_path %></p>
  </div>
</div>
