<!DOCTYPE HTML>
<html>
  <head>
    <title>Group Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div id="site-header">
      <div class="wrapper">
        <h1><a href="../">Charlotte Cheap Eats</a></h1>
        <ul id="site-header-menu">
          <li><a href="../">Home</a></li>
          <li><%= link_to 'List', controller: 'restaurants' %></li>
        </ul>
      </div>
    </div>
    <%= yield %>
  </body>
</html>